# Dependencies
node_modules/

# Build output
dist/

# Environment files
.env
.env.local

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log
npm-debug.log*

# Coverage
coverage/

# Test
test/

# Misc
*.tsbuildinfo
